@import 'node_modules/ol/ol.css';

html,
body {
	margin: 0;
	height: 100%;
	padding: 0;
}

#status {
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
#featureInfo {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	/* height: 150px; */
	background-color: lightgreen;
}

#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

.mapcontainer {
	position: relative;
	margin-bottom: 20px;
}
.map {
	width: 1000px;
	height: 600px;
}
.map .ol-zoom {
	top: 178px;
	left: 158px;
}
.map .ol-rotate {
	top: 178px;
	right: 58px;
}
.map .ol-attribution,
.map .ol-attribution.ol-uncollapsible {
	bottom: 30px;
	right: 50px;
}

.popup {
	background-color: #ccc;
	color: #fff;
	border-radius: 5px;
	padding: 10px;
}
